<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LDAPPassword" value="Lights3310" />
    <add key="LDAPPath" value="192.168.0.3:389" />
    <add key="LDAPUser" value="Administrator" />
    <add key="LDAPDomain" value="hannon.local " />
  </appSettings>
</configuration>